.NewS_Txt {
  h1,
  p {
    font-family: "General Sans";
    letter-spacing: 0.05em;
  }

  h1 {
    font-size: 64px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
  }
}

.card_Data_1,
.icon-circle,
.row123 {
  position: relative;
}

.row123 {
  font-size: 25px;
  font-weight: 700;
  left: 50px;
  top: 100px;
}

.card {
  opacity: 0.9;
  height: auto;
  width: auto;

  &:hover {
    transition: 0.5s;
    transform: scale(1.1);
    opacity: 1.9;
  }
}

.icon-circle {
  width: 80px;
  height: auto;
  background-color: #067c71;
  border-radius: 10%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 70px;
}

.icon_11 {
  height: 250px;
}

.card_Data_1 {
  bottom: 50px;
}

.icon-img {
  width: 40px !important;
  height: 40px;
}

.Location_Icon,
.mail {
  height: 20px;
  width: auto;
}

.map {
  width: 920px;
  height: 300px;
  border-radius: 40px;
}

.form_Main {
  border: 1px solid #d8d8d8;
  border-radius: 30px;
  height: auto;
  width: auto;
}

.submit_btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #005b53;
  color: #fff;
}

.Details_Form {
  padding: 60px !important;
}

.bG_3 {
  background: linear-gradient(#004c4c, #00796b);
  height: auto;
  width: 100%;
  padding: 20px;
}

.Location_Ditails {
  color: #000;
}
