.sidebar-scrollable {
    overflow-y: auto;
    -ms-overflow-style: none; // IE & Edge
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
}