// .SHlok_1,
.SHlok_2 {
  height: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: #efa30a
}

.claendar_Icon,
.img_1_Main img,
.img_1_Main1 img,
.text121 {
  position: relative
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center
}

img {
  max-width: 100%;
  height: auto
}

// .slick-slide[aria-hidden=true] a,
// .slick-slide[aria-hidden=true] button {
//   pointer-events: none;
//   visibility: hidden
// }

p.text-start {
  min-height: 1.5rem
}

// .Row_Bottom {
//   width: 280px !important;
//   border-bottom: 1px solid #fff
// }

// .SHlok_1 {
//   width: 160px !important
// }

.SHlok_2 {
  width: 102px !important
}

// .bg_Slock {
//   background-color: #03746AF7;
//   padding: 50px;
//   border-radius: 50px 0 0 50px;
//   color: #fff
// }

.slock_Bg {
  border-radius: 50px;
  color: #fff
}

.clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis
}

.NandRBtn1 {
  background-color: #ffffff !important;
  color: #004c4c;
  margin: 1px
}

.BtnSlock button {
  color: #000000;
  background-color: #ffffff !important;
}

.BtnSlock :hover {
  color: #000000 !important;
}

.img_1_Main img,
.slock_Bg,
.slock_Bg1 {
  background: linear-gradient(#058479, #037167)
}


.slock_Bg1 {
  height: auto;
  max-width: auto;
  border-radius: 22px !important;
  color: #ffffff;
}

.slock_Bg {
  height: 400px;
  width: auto !important
}

.slokaBox {
  height: 520px;
  border-radius: 45px 22px 22px 45px;
  display: flex;
  flex-direction: column;
}

.slokaBox_BG {
  background: #058378;
  border-radius: 22px 22px 22px 22px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  // display: flex;
  // flex-direction: column;
}

.contentArea {
  flex: 1;
  /* auto adjust space */
  overflow-y: auto;
}

/* optional: scrollbar nice look */
.contentArea::-webkit-scrollbar {
  width: 10px;
}

.contentArea::-webkit-scrollbar-thumb {
  display: none;
}

.imgBox {
  width: auto;
  height: 350px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.krishna-img {
  max-width: auto;
  max-height: 100%;
  object-fit: cover;
}

.krishna-img-mobile {
  max-width: auto;
  max-height: 100%;
  object-fit: cover;
}


// .h2_Tages,
// .p_Tages,
// .slock_Bg {
//   // margin-left: 140px
// }

.slock_Bg,
.slock_Bg1 {
  font-weight: 600;
  background-color: #efa30a;
  padding: 5px 20px;
  border-radius: 10px
}
.b_Tages {
  font-weight: 600;
  width: fit-content;
  background-color: #efa30a;
  padding: 5px 10px;
  border-radius: 10px;
}

.b_Tages1 {
  font-weight: 600;
  background-color: #efa30a;
  color: #1a1a1a;
  padding: 5px 10px;
  border-radius: 10px;
}

.img_1_Main img {
  border: 1px solid #fff;
  width: auto;
  height: 300px;
}

.img_1_Main1 img {
  background-color: transparent;
  width: auto;
  height: 100%;
  border-radius: 30px;
  left: 0 !important;
  top: -20px !important
}

.Main-Card_1 {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #058378
}

.Main-Card_1 button {
  background-color: #058378;
  color: #fff
}

.Main-Card_2 {
  background-color: #fff !important;
  width: 100%;
  height: 100px;
}

.claendar_Icon {
  bottom: 5px
}

// .card-body1 {
//   padding-left: 10px;
//   padding-right: 10px
// }

.learn_BTn {
  border: none;
  background-color: transparent;
  color: #000;
  min-width: 64px;
  min-height: 44px;
  display: inline-flex;
  align-items: center;
  gap: 86px;
  white-space: nowrap;
}

.learn_BTn1 {
  border: none;
  background-color: transparent;
  color: #000;
  min-width: 44px;
  min-height: 44px;
  padding: 5px 0px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.title-line-1 {
  font-weight: bold;
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.title-content-2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 10px
}

.text121 {
  left: 100px
}

.card_Ideology {
  border: 2px solid #04AA9C;
  border-radius: 22px;
  margin: 10px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_Ideology:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 20px rgba(6, 124, 113, 1);
  transform: scale(1.05);
}

.School_Card {
  background-color: #ffffff;
  border-radius: 22px;
  height: auto;
}

.School_Card:hover {
  border: 2px solid #04AA9C;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 20px #ffffff;
  transform: scale(1.05);
}

.youtube_Data{
  border-radius: 22px !important;
}

// .School_Card_Mobile {
//   background-color: #ffffff;
//   margin: 10px;
//   border-radius: 22px;
//   width: 116px !important;
//   height: auto;
// }

// .School_Card_Mobile:hover {
//   border: 2px solid #04AA9C;
//   transition: all 0.3s ease-in-out;
//   box-shadow: 0px 0px 20px #ffffff;
//   transform: scale(1.05);
// }
/* Slideshow Images */
// .slideshow-img {
//   max-width: 364px;
//   max-height: 364px;
//   width: 100%;
//   height: auto;
//   object-fit: cover;
// }
/* School Logo Images */
// .school-logo-img {
//   max-width: 100%;
//   height: auto;
//   object-fit: contain;
// }
// @media (max-width: 768px) {
//   .slideshow-img {
//     max-width: 100%;
//   }
// }

